# Obsidian vault config
.obsidian/workspace*.json

# draw.io backup files
*.drawio.bkp

# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
npm-debug.log_
lerna-debug.log*
.pnpm-debug.log*

# dotenv environment variable files
_env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/.tmb
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/jetpack-waf
/wp-content/mu-plugins
/wp-content/upgrade
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# /wp-content/*

# Example themes
# /wp-content/themes/twenty*/
/wp-content/themes/*

# Example plugin
# /wp-content/plugins/hello.php
# /wp-content/plugins/akismet
# /wp-content/plugins/wp-file-manager
# /wp-content/plugins/filebird
/wp-content/plugins/*

# Uploads
/wp-content/uploads

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
# /wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Caches
.cache

# Runtime data
pids
_.pid
_.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo
